body{
    background: linear-gradiant(rgba(60, 179, 113), rgba(60, 179, 113) ), url(image.jpg.jpg);
    background-size: cover;
    background-position: center;
}
.login-box{
    max-width :700px;
    float: none;
    margin: 200px auto;
}
.img{
    display: block;
  margin-left: auto;
  margin-right: auto
}